{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="row" >
  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/joanna-kosinska-B6yDtYs2IgY-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">How It All Begun??...</h5>
      <p class="card-text">Tehile was born in Agust,2018 at Deliverance Church Utawala,when the church first introduced something called the Youth Week. <br> Many youths joined at that time because they were convinced it was a one week event... At that time,Tehile was known as the Youth's choir. <br> The name 'Tehile' came later on after the ministration when the group wasn't dismantled and the group decided to look for a suitable more youthful name. <br> That is how the name Tehile came through. <br> Tehile is drawn from a Hebrew name 'Tehilla' meaning High Praise or Glory. <br> As youths, this is what our lives should be like, offering God praises and giving Him all the glory.  </p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem;margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/sebastiano-piazzi-iw60tM-gifI-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">What Is Tehile??..</h5>
      <p class="card-text">Tehile is a home for many youths. <br> Most people have joined and they have found their voice in the society. <br> Tehile has brought many youths from different walks of life together,minister together, relate with another,help each other grow spiritually and vocally. <br> Tehile is all about sharing the love of God with each other and then pouring it out to the church at large. <br>Under the leadership of Pastor Emmanuel and Lucy Kokonyo, Tehile has gotten a lot direction and opportunities to minister in the church and even out of the church in times of high school mssions or college missions</p>
    </div>
  </div>
  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/brett-jordan-q8ZgKZutttE-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tehile's Mission Statement </h5>
      <p class="card-text">To glorify Christ and make Him known through songs that shed light to His people in and out of Africa.</p>
    </div>
  </div>

  <div class="card" style="width: 30rem;min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/randy-tarampi-U2eUlPEKIgU-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tehile's Vision Statement</h5>
      <p class="card-text">To impact generations and nations.</p>
    </div>
  </div>

</div>

{% endblock %}