{% extends 'base.html' %}

{% block content %}
{{block.super}}

<h1 style="text-align:center; font-weight:bolder; margin:10px;"> Departments </h1>
<div class="row">
  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Reasons for having departments??...</h5>
      <p class="card-text">For the sake of efficiency in any organisation there must be division of labour. <br> Where certain resposibilites are allocated to some people. <br> As I said earlier, Tehile is a home for many people and when all these people join, they come from diferent walks of life i.e educational backgrounds, social backgrounds etc... </p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">How many departments are there??...</h5>
      <p class="card-text">Under the overall leadership of Regina Otego, Tehile has eight,8, departments. <br> Each department has its own leader who directs the people on the way forward depending on the their specific department's.</p>
    </div>
  </div>
</div>

{% endblock %}