{% extends 'base.html' %}

{% block content %}
{{block.super}}

<h1 style="text-align:center; font-weight:bolder; margin:10px;"> Departments </h1>
<div class="row">
  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/jehyun-sung-6U5AEmQIajg-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Reasons for having departments??...</h5>
      <p class="card-text">For the sake of efficiency in any organisation there must be division of labour. <br> Where certain resposibilites are allocated to some people. <br> As I said earlier, Tehille is a home for many people and when all these people join, they come from diferent walks of life i.e educational backgrounds, social backgrounds etc... </p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/nick-fewings-GoXNygZlftg-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">How many departments are there??...</h5>
      <p class="card-text">Under the overall leadership of Regina Otego, Tehille has seven,7, departments. <br> Each department has its own leader who directs the people on the way forward depending on the their specific department's.</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/natalie-pedigo-wJK9eTiEZHY-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">List of departments...</h5>
      <p class="card-text">1.Queenpin - Regina Otego <br>
        2. Stenographer - Aquila Amunga <br>
      3. Financier - KImberly Eve <br>
    4. Choreography - Enoch Mwangome <br> 
  5. vocal - Hanah Oliang'a <br> 
6. Couturier and design - Gloria Mwithali <br> 
7. Outdoorsy - Susan Macharia and Emmanuel Mutinda(Somir) <br>
8. Intercessory - Alice Nyambura </p>
    </div>
  </div>
</div>

<h1 style="text-align:center; font-weight:bolder; margin:10px;">More about the departments..</h1>
<div class="row">
  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/departments/regina.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Queenpin...</h5>
      <p class="card-text">Department head - Regina Otego. <br><br>Goal - To see every young exalt and glorify Christ. <br><br>  #purraizealltheway <br><br> 'I have been the overall leader of Tehille since 2019.The journey has been somehow easy because of the assistance from God and my choosen leaders'</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/departments/aquila.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Stenographer...</h5>
      <p class="card-text">Department head - Aquila Amunga. <br><br>Goal - Keep track of every meeting's minutes. <br><br> #keepzeerecords</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/departments/kimzy.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Financier...</h5>
      <p class="card-text">Department head - Kimberly Olanga. <br><br>Goal - Ensure that we are finacially stable. <br><br> #Kingdomfinancier </p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/departments/alice.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Intercessory...</h5>
      <p class="card-text">Department head - Alice Nyambura. <br><br>Goal - To be a family that prays without ceasing; whose power and strength is drawn from nothing else but from empowerment of the Holy Spirit through prayers.<br><br> #prayers_avail_much</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/departments/enoch.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Choreography...</h5>
      <p class="card-text">Department head - Enoch Mwangome. <br><br>Goal - To eventually culminate at a point where we are not afraid to have fun in Christ by means of dance, choreos, shouting and rejoicing. <br><br> #danceyakanisa #dance #dancer #dokamadaudi</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/departments/hannah.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vocal...</h5>
      <p class="card-text">Department head - Hanah Oliang'a. <br><br> Mission - o create harmonies and sounds that invite and create a dwelling for the presence of God <br><br> Vision - to lift up a voice that draws men to God and imapcts generations and generations to come<br><br> #tehilleworship#lifteveryvoice#sopaltotenorequalsharmony#whywesing </p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/departments/glo.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Couturier and Design...</h5>
      <p class="card-text">Department head - Gloria Mwithali. <br><br> Goal - Beautify the temple of God with stylish outfits depending on the theme of the ministration.<br><br> #fashionforChrist#beautifulTemples#seasonaloutfit</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/departments/suso.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Outdoorsy...</h5>
      <p class="card-text">Department head - Susan Macharia and Emmanuel Mutinda(Somir). <br><br>Goal - Connecting and Bonding souls in Christ Through Travelling.To Explore, Appreciate & Experience God's Création a day at a Time. <br><br>#TembeaNaGod#MinistryThroughTravel#HavingFunInChrist#AdrenalineFilledChristians</p>
    </div>
  </div>

</div>
{% endblock %}