{% extends 'base.html' %}

{% block content %}
{{block.super}}

<h1 style="text-align:center; font-weight:bolder; margin:10px;"> Departments </h1>
<div class="row">
  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/jehyun-sung-6U5AEmQIajg-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Reasons for having departments??...</h5>
      <p class="card-text">For the sake of efficiency in any organisation there must be division of labour. <br> Where certain resposibilites are allocated to some people. <br> As I said earlier, Tehile is a home for many people and when all these people join, they come from diferent walks of life i.e educational backgrounds, social backgrounds etc... </p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/nick-fewings-GoXNygZlftg-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">How many departments are there??...</h5>
      <p class="card-text">Under the overall leadership of Regina Otego, Tehile has seven,7, departments. <br> Each department has its own leader who directs the people on the way forward depending on the their specific department's.</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/natalie-pedigo-wJK9eTiEZHY-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">List of departments...</h5>
      <p class="card-text">1. Secretarial - Aquila Amunga <br>
      2. Treasury - KImberly Eve <br>
    3. Dance - Enoch Mwangome <br> 
  4. vocal - Hanah Oliang'a <br> 
5. Fashion and design - Gloria Mwithali <br> 
6. Outdoor events - Susan Macharia and Emmanuel Mutinda(Somir) <br>
7. Prayer and Word - Alice Nyambura </p>
    </div>
  </div>
</div>

<h1 style="text-align:center; font-weight:bolder; margin:10px;">Expound of the departments..</h1>
<div class="row">
  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/onehundredseventyfive-8NDgXPWh4-Y-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Secretarial...</h5>
      <p class="card-text">This department is led by Aquila Amunga. <br> The main responsibility of this department is the minutes taking of the many meetings held. The secretry reviews the previous ajendas and keeps reminding the rest of the members of upcoming events that were discussed in different meetings.</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/lucas-favre-MNXaW_ABlZY-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Treasury...</h5>
      <p class="card-text">This department is led by Kimberly Olanga. <br> The main responsibility of this department is the collection and allocation of money. <br> We have weekly contribution of 50/= that each member ought to contribute to the group's account. </p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/pedro-lima-HtwsbbClBOs-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Prayer and Word...</h5>
      <p class="card-text">This department is led by Alice Nyambura. <br> The main responsibility of this department is to help us~guide us on the prayer and reading the Bible throughout the year.<br> We always fast and pray in the third week of every month, just to dedicate our ministry to God and pray for more grace when ministering to God's people 🤲🏽. <br> We normally go to Prayer Centers like Katoloni, to set ourselves apart just to seek the face of God on individually levels and as a ministry. <br> Everyday we do Bible exposition in the morning and every night we have someone to pray by sending an audio.</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/timon-studler-BIk2ANMmNz4-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dance...</h5>
      <p class="card-text">This department is led by Enoch Mwangome. <br> The main responsibility of this department is seen during ministration. <br> We are young people, we love to express ourselves in dance styles that express we are young. <br> Thanks to tiktok 😂, the leader brainstorms on the different dance styles we do during praise ministration.</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/forja2-mx-r2kxuoOFtHY-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vocal...</h5>
      <p class="card-text">This department is led by Hanah Oliang'a. <br> The main responsibility of this department is the coaching of voices. <br> Singing at large expects you to have a pleasant voice, thus the worship and praise. <br> Our vocal coach has strived for us to have well and polished voices throughout the year and we can proudlt say that we can see the immense change in how we have grown.</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/priscilla-du-preez-DqJMxq5ZDqA-unsplash (1).jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fashion and Design...</h5>
      <p class="card-text">This department is led by Gloria Mwithali. <br> The main responsibility of this department is to make sure people look stunning whenever we minister. <br> We are young people, we love to make Statements by how we dress. <br> Through our able leader, Gloria, we have been able to make such statements everytime we get the opportunity to minister to God's people.</p>
    </div>
  </div>

  <div class="card" style="width: 30rem; min-height: 20rem; margin: 30px;padding: 25px;display: flex;box-sizing: content-box;">
    <img src="/static/images/frank-zinsli-aPqqXZh2xR8-unsplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Outdoor...</h5>
      <p class="card-text">This department is led by Susan Macharia and Emmanuel Mutinda(Somir). <br> The main responsibility of this department is coming up with outdoor activities that we can do as a group out of church and also plan for the means of transportation. <br> We normally have an event we all long for called 'swallowship'🤤 This is an event we all love and enjoy having.  </p>
    </div>
  </div>

</div>
{% endblock %}