{% extends 'base.html'%}

{% block content%}
{{block.super}}
<div>
  <h1 class="text-center">Welcome to <strong>our world !</strong></h1>
  <p class="text-center main">Where all our memories are kept in check</p>
</div>

<div>
  <h1 style="margin: 15px;">#Tehile Gems</h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/t-gems/gems1.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/t-gems/gems2.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/t-gems/gems3.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/t-gems/gems4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/t-gems/gems5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1>#Men of Valour</h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/m-valour/valour1.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/m-valour/valour2.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/m-valour/valour3.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/m-valour/valour4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/m-valour/valour5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1>#21st August,2022</h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-22/Flannel1.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-22/Flannel2.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-22/Flannel3.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-22/Flannel4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-22/Flannel5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1>#24th July,2022</h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/July-22/Bow1.JPG" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/July-22/Bow2.JPG" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/July-22/Bow3.JPG" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/July-22/Bow4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/July-22/Bow5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1>#19th June, 2022 </h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/June-22/Blue1.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/June-22/Blue2.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/June-22/Blue3.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/June-22/Blue4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/June-22/Blue5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1>#24th December,2021 #Chrismas </h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Dec-21/Chris1.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Dec-21/Chris2.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Dec-21/Chris3.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Dec-21/Chris4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Dec-21/Chris5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1>#Zamar Worship Experience</h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-21/zamar1.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-21/Zamar2.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-21/Zamar3.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-21/zamar4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/August-21/zamar5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1>#Missions</h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/mission/Mission1.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/mission/Mission2.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/mission/Mission3.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/mission/Mission4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/mission/Mission5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1>#Swallowship</h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/swallowship/swal1.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/swallowship/swal2.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/swallowship/swal3.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/swallowship/swal4.jpg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/swallowship/swal5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>

  <h1> #Fun </h1>
  <div class="row" style="margin: 15px;">
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Fun/Fun1.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Fun/Fun2.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Fun/Fun3.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Fun/Fun4.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
    <div class="card" style="width: 18rem;min-height: 20rem; margin: 30px;padding: 25px;">
      <img src="/static/Fun/Fun5.jpeg" class="card-img-top" alt="..." style="max-height:20rem ;">
    </div>
  </div>
  
</div>
{% endblock %}