{% extends 'base.html' %}

{% block content%}
{{ block.super}}
<div class="container-fluid" style="background-image: url('/static/images/tehile.jpg');  background-repeat: no-repeat; background-size: cover; height: 100vh;  background-position: center; text-align:center; overflow-x:hidden;" >
  <h1 style="font-size:100px; margin-top:150px; color:#2BBBAD; font-family: 'Henny Penny', cursive; " >simply<i class="fas fa-home"></i>worship</h1>
  <a href="{% url 'about' %}"  style="margin-top:50px; " class="btn default-color btn-small">About us</a>

  <!-- <section class="about" id="about">
    <h1>About us</h1>
    <p>ajhjhfvjk</p>
  </section> -->

</div>
{% endblock%}